.main {
    min-height: 100vh;
    /* padding: 4rem 0; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem;
  }
  .blogItem{
    padding: 15px;
    /* background-color: rgb(162, 162, 162); */
    margin: 10px 0;
  }
.blogItem:hover
{
    background-color:rgb(241 241 241);
    /* color: white; */
    /* border-radius: 0px 60px; */
    border-left: 5px solid black
}
  .blogItem h3{
cursor: pointer ;
  }
  .blogItemP{
    max-width: 40vw;
  }