.mainnav{
    background-color: black;
    color: white;
    padding: 5px;
    position: sticky;
    top: 0;
}
.mainnav ul {

    display: flex;
    justify-content: center;
    /* margin-top: 50px; */
  }
  .mainnav ul li{
    
    list-style: none;
    /* margin: 0 23px; */
    font-weight: bold;
    margin: 0 40px;
    padding: 12px;
    /* padding-bottom: 2px; */
  
  }

  .hoverEffect
  {
    border-bottom: 3px solid white;
  }
  
  .mainnav ul li:hover{
    /* border-bottom: 1px solid white; */
    color: rgb(140, 142, 149);
  }
  